  <% @posts.each do |post| %>
  <div class="post">
    <div class="title"><%= link_to(post.title, post_path(post)) %></div>
    <div class="posted_when">posted <%= time_ago_in_words(post.created_at)%> ago by <%=post.user.username %></div>
    <br>
    <div class="youtube"><%= embed(post.song_url) %></div>
    <br>
    <p><%= post.moment %></p>
    <br>
    Tags:
    <% post.tags.any? %>
     <% post.tags.each do |tag| %>
     <span class="label label-teal">
        <%= link_to tag.name, tag_path(tag.name) %>
     </span>
     <% end %>
     <%= link_to "Upvote", like_post_path(post), method: :put %>
     <%= link_to "Downvote", dislike_post_path(post), method: :put %>
     Votes: <%= post.get_likes.size %>
     Dislikes: <%= post.get_dislikes.size %>
    <div class="comment_title">Comments <%= link_to "(New)", new_post_comment_path(post) %></div>
    <br>
    <div class="comment">
        <% post.comments.each do |comment| %>
          <div class="comment_content"><%= comment.content %></div>
          <div class="comment_author">by <%= comment.author %></div>
          <div class="comment_posted_when">posted <%= time_ago_in_words(comment.created_at)%> ago</div>
        <% end %>
    </div>
    <br>
    <div class="posted_when"><%=post.created_at.strftime("Posted %b %d, %Y at %I:%M%p")%></div>
</div>
<% end %>
