  <% @posts.each do |post| %>
  <div class="post">
    <div class="title"><%= link_to(post.title, post_path(post)) %></div>
    <div class="posted_when"> <%= time_ago_in_words(post.created_at)%> ago by <%=post.user.username %></div>
    <br>
    <div class="youtube"><%= embed(post.song_url) %></div>
    <br>
    <p><%= post.moment %></p>
    <br>
    <div class="text-center">
    tags:
    <% post.tags.any? %>
     <% post.tags.each do |tag| %>
     <span class="label label-teal">
        <%= link_to tag.name, tag_path(tag.name) %>
     </span>
     <% end %></div>
     <br>
     <div class="text-center">
     likes: <%= post.get_likes.size %><br><%= link_to "like", like_post_path(post), method: :put %>
   </div><br>
    <div class="comment_title">comments <%= link_to "(new)", new_post_comment_path(post) %></div>
    <br>
        <% post.comments.each do |comment| %>
        <div class="comment">
          <div class="comment_content"><%= comment.content %></div>
          <div class="comment_author">by <%= comment.author %></div>
          <div class="comment_posted_when">posted <%= time_ago_in_words(comment.created_at)%> ago</div>
    </div>
        <% end %>
    <br>
    <div class="posted_when"><%=post.created_at.strftime("Posted %b %d, %Y at %I:%M%p")%> <%=link_to "view post", post_path(post)%></div>
</div>
<br>
<br>
<% end %>
